<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <nav>
    <%- include ('../partials/nav.ejs') %>
  </nav>
  <body>


    <div class="currentPresenters">
      <% for (let i = 0; i < presenter.length; i++) { %>
        <div class="eachPresenter">
            <%= presenter[i].firstName %>&nbsp
            <%= presenter[i].lastName %><br><br>
            <%= presenter[i].about %><br><br>
            Contact: <%= presenter[i].contact %><br><br>
            <img class="presenterImage" src="<%= presenter[i].img %>" alt="">
            <br>

            <% if ((currentUser) && ((currentUser.firstName && currentUser.lastName) === (presenter[i].firstName && presenter[i].lastName)) || currentUser && currentUser.role === 'admin') { %>
            <form action="/shops/<%= presenter[i].id; %>/deletepresenter?_method=DELETE" method="POST">
              <input class="button" type="submit" value="DELETE"/>
              <a class="navLinks" style="font-family: 'Josefin Sans';" href="/shops/<%= presenter[i].id;%>/editpresenter">Edit</a><br><br>
            </form>
            <% } %>
        </div>
      <% } %>

    </div>

  </body>
</html>
