<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <%- include ('../partials/head.ejs') %>
</head>
<nav>
  <%- include ('../partials/nav.ejs') %>
</nav>
<body>
  <div class="welcomeContainer">
    <h1>Hello! Welcome to the Rising Light app, brought to you by The Illumi-Nation Project!</h1>
  <!-- Have the event name be entered in? -->
    <h2>Current Woke & Play shop schedule:</h2>
  </div>
  <div class="currentPresenters">
    <% for (let i = 0; i < shops.length; i++) { %>
      <div class="eachShop">
          Shop: <%= shops[i].title %><br>
          Presenter: <%= shops[i].host %><br><br>
            <img style="width:100%;" src="<%= shops[i].img %>" alt=""><br>
          About: <%= shops[i].shortInfo %><br>
          Day: <%= shops[i].day %>, <%= shops[i].date %><br>
          Time: <%= shops[i].startTime %> to <%= shops[i].endTime %><br>
          Location: <%= shops[i].location %><br>
          Price: <%= shops[i].price %><br><br>
          <a class="infoButton" href="/shops/<%= shops[i].id %>">Click here for more info!</a>
      </div>
    <% } %>

  </div>
  </body>
</html>
